{% extends "tablefor2/base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% load static %}

        <h1>Your Availabilities</h1>

        <ul>
        {% for availability in availabilities %}
            <li>{{ availability.time_available }}</li>
        {% endfor %}
        </ul>
        <p>Your frequency: {{ profile.frequency }}</p>

        <p>Add a time you're available:</p>
        <form action="{% url 'save-availability' %}" method="POST" class="post-form">{% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {{ field.help_text }}
                </div>
            {% endfor %}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>

        <h1>Your Current Matches</h1>

        {% if not current_matches %}
            <p>Go set some availabilities!</p>

        {% else %}

        <ul>
        {% for current_match in current_matches %}
            <li>{{ current_match.matched_name}} at {{ current_match.time_available }}</li>
        {% endfor %}
        </ul>

        {% endif %}

        <h1>Your Past Matches</h1>

        {% if not past_matches %}
            <p>Go set some availabilities!</p>

        {% else %}

        <ul>
        {% for past_match in past_matches %}
            <li>{{ past_match.matched_name}} at {{ past_match.time_available }}</li>
        {% endfor %}

        {% endif %}

        </ul>


    {% endblock %}

{% block bottom %}
    {{ block.super }}
{% endblock %}