{% extends "tablefor2/base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% load static %}
        <div class="index-header">
            <div class="col-sm-4 box">
                <h1 class="highlight">Welcome to Table for Two!</h1>
                <p class="highlight">Grabbing coffee or lunch with another Mixpaneler from another team is even easier than before.</p>
                <p class="highlight"><em>#BeSocialMakeFriendships</em></p>
                <br>
                <div class="text-center">
                    <a href="{% url "social:begin" "google-oauth2" %}"><button class="save btn btn-default">GET STARTED</button></a>
                </div>
            </div>
            <div class="col-sm-4 table-padding hidden-xs hidden-sm col-sm-offset-2">
                <img id="header-img" src="{% static "img/full-set.png" %}">
            </div>
        </div>
        <div class="index-box">
            <h2>What's Table for Two?</h2>
            <p>Table for two is a program where you are randomly matched with someone outside of your team to have a 1:1 coffee or lunch with- either in the Cafe or offsite, the choice is yours!</p>
            <div class="text-center">
                <img id="chair-img" src="{% static "img/chairs-original.png" %}">
            </div>
        </div>

        <div class="index-box">Just fill out your information and preferences, and select when you're generally available. Our algorithms will match you with another Mixpaneler once a month based on your availability, team, and tenure at Mixpanel. Each month, you'll meet with someone new!
            <div class="text-center">
                <img id="availability-img" src="{% static "img/availability.png" %}">
            </div>
        </div>

        <div class="index-box">If you choose to Google Hangout, you'll also be able to meet other Mixpanelers in a location other than your own.
            <div class="text-center">
                <img id="availability-img" src="{% static "img/dashboard.png" %}">
            </div>
        </div>

        <div class="index-box text-center">
            Interested?
            <a href="{% url "social:begin" "google-oauth2" %}"><button class="save btn btn-default">GET STARTED</button></a>
        </div>
    {% endblock %}

{% block bottom %}
    {{ block.super }}
{% endblock %}
