{% extends "tablefor2/base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% load static %}

    <div class="container">

      <div class="group-header">
        <h1>Edit Your Recurring Availability</h1>
      </div>

      {% if not recurring %}
        <div class="table-holder">
          <p>Hello {{ user.preferred_name }}!</p>
          <p>To make this more comprehensive, please fill out your recurring availability:</p>
        </div>
      {% endif %}

      <input type="hidden" id="recurring-availabilities" value="{{ recurring_values}}">
      <form method="POST" action="{% url 'save-availability' %}" class="table-holder" >{% csrf_token %}
        <div class="table-container">
          <!-- tool tips -->
          <table class="table-bordered table" id="availability-table-edit">
            <thead>
              <tr>
                <th>Day</th>
                {% for time in times %}
                  <th>{{ time }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MON</td>
                {% for time in times %}
                  <td id="0-{{ time }}"></td>
                {% endfor %}
              </tr>
              <tr>
                <td>TUE</td>
                {% for time in times %}
                  <td id="1-{{ time }}"></td>
                {% endfor %}
              </tr>
              <tr>
                <td>WED</td>
                {% for time in times %}
                  <td id="2-{{ time }}"></td>
                {% endfor %}
              </tr>
              <tr>
                <td>THU</td>
                {% for time in times %}
                  <td id="3-{{ time }}"></td>
                {% endfor %}
              </tr>
              <tr>
                <td>FRI</td>
                {% for time in times %}
                  <td id="4-{{ time }}"></td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <button id="availability-btn" class="save btn btn-default">SAVE</button>
        </div>      
      </form>
    </div>

  {% endblock %}

{% block bottom %}
  {{ block.super }}
{% endblock %}