{% extends "tablefor2/base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% load static %}

    <div class="container">

      <div class="group-header">
        <h1>Edit Your Profile</h1>
      </div>

      {% if not profile.extra_saved_information %}
      <div class="table-holder">
        <p>Hello {{ user.first_name }}, thanks for signing up!</p>
        <p>To make this more comprehensive, please fill out the following things:</p>
      </div>
      {% endif %}

      <form method="POST" action="{% url 'save-profile' %}" onsubmit="return setProperties()" class="post-form table-holder" id="profile-form">{% csrf_token %}
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>          
            {% for field in form %}
              <div class="fieldWrapper">
                <tr>
                  <td>{{ field.label_tag }}</td>
                  <td>
                    <div class="error-message">{{ field.errors }}</div>
                    <div data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}">{{ field }}</div>
                  </td>
                </tr>
              </div>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center">
          <button class="save btn btn-default">SAVE</button>
        </div>
      </form>
    </div>

  {% endblock %}

{% block bottom %}
  {{ block.super }}
{% endblock %}