{% extends "tablefor2/base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% load static %}

    <div class="container">

      <h1>Edit Your Profile</h1>

      {% if not profile.extra_saved_information %}
        <p>Hello {{ user.first_name }}, thanks for signing up!</p>
        <p>To make this more comprehensive, please fill out the following things:</p>
      {% endif %}

      <form action="{% url 'save-profile' %}" method="POST" class="post-form">{% csrf_token %}
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>          
            {% for field in form %}
              <div class="fieldWrapper">
                <tr>
                  <td>{{ field.label_tag }}</td>
                  <td><div class="error-message">{{ field.errors }}</div> {{ field }}</td>
                  <td>{{ field.help_text }}</td>
                </tr>
              </div>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="save btn btn-success">Save</button>
      </form>
    </div>

  {% endblock %}

{% block bottom %}
  {{ block.super }}
{% endblock %}